<section class="all-sections">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-common">
                        contact
                    </h3>
                    <h5 class="page-subtitle">We're here to help you decide the best features for you!</h5>                    
                </div>                
            </div>
        </div>
    </div>
    <div class="contact-content bg-sky">
        <div class="container">
            <div class="row">
                <div class="col-12 contact-form">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" class="form-control" placeholder="Name" />                           
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" class="form-control" placeholder="Email" />                           
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <textarea type="text" class="form-control" placeholder="Message"></textarea>                         
                            </div>
                            <div class="btn-group col-md-12 mb-3">
                                <ul class="contact-detail">
                                    <li><a href="tel:01234567890"><i class="fa fa-phone" aria-hidden="true"></i>984.465.4545</a></li>
                                    <li><a href="mailto:webmaster@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@xyz.com</a></li>
                                </ul>
                                <div class="contact-btn">
                                    <button class="anim-btn">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</section>