.about-banner {
    background-image: url(../../../assets/images/about-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-content {
    padding: 50px 15px 60px;
}
.banner-content .title-common {
    margin-bottom: 12%;
    color: #c4c6c7;
    
}
.banner-content p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5%;
}
.banner-subtitle {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.page-content {
    margin: 50px 0;
}
.page-content p{
    margin-bottom: 0;
}
@media screen and (max-width: 767px){
.banner-content .title-common {
    margin-bottom: 30px;
}
.banner-content {
    padding: 30px 15px 30px;
}

}
