 /* Model css end */

 .popup-feild , .start-feild , .subscribe , .download{
    background: #fff;
    margin: 0 auto;
    /* border: 2px solid #fff; */
    border-radius: 4px;
    position: relative;
}
.popup-feild {
    border: 0px solid #fff;
}
.forgotpass {
    cursor: pointer
}

/* .form-control.is-invalid{
    border-color: #dc3545 !important
} */
.popup-feild h2 , .start-feild h2 , .subscribe h2 , .download h2{
    background: linear-gradient(to right, #9d3aba, #e51197);
    text-align: center;
    color: #fff;
    font-size: 1.5625rem;
    font-weight: bold;
    padding: 6px 0 10px;
    margin-bottom: 0;
}
::ng-deep .mat-checkbox .mat-checkbox-ripple {
    height: 0;
    width: 0;
}
.input-txt input:hover, 
.input-txt input:focus, 
.input-txt input:active {
    outline: 0 none;
}
.inner-form {
    padding: 10px 30px;
}

.input-txt {
    margin-top: 0px;
}

.input-txt label {
    width: 100%;
    display: block;
}
.input-txt input {
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.sign{
    cursor: pointer;
}

.lost a {
    color: #222222;
    font-size: 1rem;
    width: 70%;
}
.lost {
    display: flex;
}

::ng-deep mat-checkbox.check_cstm .mat-checkbox-frame{
    border-color: #a9a9a9 !important;
    border: 1px solid #a9a9a9 !important;
    border-width: 1px !important;
    border-radius: 4px !important;
 }

 button.login {
    background: linear-gradient(to right, #9d3aba, #e51197);
    border-radius: 50px;
    padding: 7px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 0;
    margin: 23px auto 0;
    text-align: center;
    display: block;
    text-transform: capitalize;
}

.bottom-form-txt span.or-txt {
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-top: 22px;
    position: relative;
    margin-bottom: 10px;
}
.bottom-form-txt p {
    text-align: center;
    color: #3d3d41;
    font-size: 1rem;
}
a.fb {
    background: #4e71ab;
    color: #FFF;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    /* cursor: pointer; */
}
.bottom-form-txt li {
    display: inline-block;
    padding: 0 0px;
}
a.gplus {
    background: #e35442;
    color: #FFF;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    /* cursor: pointer; */
}
.bottom-form-txt ul {
    padding: 0;
    margin: 25px auto 20px;
    text-align: center;
}
a.sign {
    color: #9e3aba;
    font-weight: 700;
}
.bottom-form-txt li span:after {
    content: "";
    background: #fff;
    height: 44px;
    width: 1px;
    position: absolute;
    right: -10px;
    top: -10px;
}
.bottom-form-txt li span {
    position: relative;
    margin-right: 18px;
}
.bottom-form-txt li:last-child{
    padding-left: 15px;
}

span.or-txt:before {
    content: "";
    background: #f3f1f4;
    width: 34%;
    right: 56%;
    position: absolute;
    height: 1px;
    top: 11px;
}
span.or-txt:after {
    content: "";
    background: #f3f1f4;
    width: 34%;
    right: 10%;
    position: absolute;
    height: 1px;
    top: 11px;
}

span.cross {
    position: absolute;
    right: -5px;
    top: -6px;
    background: #fff;
    border-radius: 100%;
    padding: 0px 6px;
    color: #9a3cbc;
    border: 1px solid;
}

.modal-body {
    /* position: relative; */
    padding: 0px !important;
}

.modal-content {
    border: 2px solid #fff;
}

.modal-dialog .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


.invalid-feedback{
    position: absolute;
    left:10px;
    bottom:0;
}

.popup-feild .form-group {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
}
a.fb:hover {
    color: #fff;
    }
    a.gplus:hover {
        color: #fff;
    }
    span.ft-pass {
        width: 70%;
    }
    .modal-dialog{
        margin: 0 0 !important;
    }
.red-txt.ng-star-inserted {
    margin-top: -13px;
}
.red-txt {
    font-size: 80%;
    color: #dc3545 !important;
}
 /*=================================== Responsive ============================*/   

@media (min-width: 576px){
    .modal-dialog {
        max-width: 550px !important;
        margin: 0 !important;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        pointer-events: none;
    }

}
@media(max-width:1024px){
    .input-txt {
        margin-top: 5px;
 
    }
    .input-txt input {
        margin-bottom: 10px;
    }
    button.login{
        margin: 14px auto 0;
    }
    .invalid-feedback{
    bottom: -9px;
}
 .modal-dialog {
    margin: 10px !important;
    }
}
@media(max-width:767px){
    a.fb {
        padding: 14px 12px;
        font-size: 16px;
    }
    a.gplus {
        padding: 14px 12px;
        font-size: 16px;
    }
     .modal-dialog{
        margin: .5rem !important;
    }
}
@media(max-width:639px){
    .bottom-form-txt li:last-child {
        padding-left: 0;
    }
    .bottom-form-txt li {
        display: inline-block;
        padding: 16px 0px;
    }
    .bottom-form-txt ul {
        padding: 0;
        margin: 15px auto 15px;
        text-align: center;
    }
    .lost a {
        color: #222222;
        font-size: 1rem;
        width: 100%;
        margin-top: 25px;
    }
    .lost {
        display: block;
    }
    .invalid-feedback{
        bottom: -8px;
    }
    span.ft-pass{
        width: 100%;
        display: block;
        margin-bottom: 12px;
    }
    }
    @media(max-width:459){
    .lost{
        display: block;
    }
    .lost a {
        width: 100%;
    }
}