.common-section{
    margin-top: 55px;
    position: relative;
}
.img-below {
    margin-top: 85px;
}
.animated {
    visibility: visible !important;
}
.inner-content {
    margin-top: 30px;
    position: relative;
    padding-right: 45px;
}
.inner-content p {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
}
.link-simple {
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    font-weight: 600;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}
.link-simple:hover{
    color: #d86219;
}
.link-simple span{
    text-decoration: underline;
}
.link-simple i{
    margin-left: 5px;
}
.template-section {
    background-color: #bfedff;
    padding: 45px 0;
}
.template-section.common-section {
    padding: 45px 0 60px;
    border-bottom: 5px solid #19b9f7;
}
.template-section .title-common{
    color: #e0f6ff;
}
.template-section .title-common::after{
    display: none;
}
.link-front {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    transition: all 0.3s ease-in-out;
}
.meteor-section .link-simple {
    display: inline-block;
    margin-top: 20px;
}
.inner-meteor .outline-btn {
    color: #000;
    border-color: #000;
}
.inner-meteor .feature-btn {
    padding: 0;
}
.link-front i{
    position: absolute;
    left: 0;
    display: none;
    top: 50%;
    transform: translateY(-50%);
}
.link-front.active,.link-front:hover{
    color: #000;
}
.link-front.active i,.link-front:hover i{
    display: block;
}
.link-front.active span,.link-front:hover span{
    text-decoration: underline;
}
.serve-list li {
    text-align: right;
    margin-bottom: 20px;
}
.link-right {
    text-align: right;
    margin-top: 40px;
}
.template-section img {
    margin-top: 30px;
}
.inner-meteor{
    position: relative;
    padding-bottom: 80px;
}
.inner-meteor .outline-btn:hover {
    color: #fff !important;
    border-color: #d86219 !important;
}
.color-picker {
    display: inline-flex;
    flex-direction: column;
    background-color: #ededed;
    padding: 1.5rem 2rem;
    border: 1px solid #ededed;
    border-radius: .5rem;
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: 80px;
    right: 0;
    z-index: 1;
}
.color-picker .color-common {
    display: inline-block;
    padding: .5rem .75rem;
    margin-bottom: 1rem;
    color: #fff;
}
.color-picker .color-common strong {
    margin-right: 5px;
}
.first-color {
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #666;
    color: #000 !important;
}
.second-color {
    background-color: #5a2478;
    border-radius: .25rem;
    border: 1px solid #5a2478;
    
}
.third-color {
    background-color: #ddc0ed;
    border-radius: .25rem;
    border: 1px solid #ddc0ed;
}
.fourth-color {
    background-color: #b3b3b3;
    border-radius: .25rem;
    border: 1px solid #b3b3b3;
}
.fifth-color {
    background-color: #422552;
    border-radius: .25rem;
    border: 1px solid #422552;
}
.meteor-section .inner-content {
    margin-bottom: 40px;
    max-width: 670px;
    position: unset;
}
.meteor-section .inner-content ~ img {
    max-width: calc(100% - 265px);
}
.features-section .title-common {
    max-width: 600px;
}
.features-section.common-section {
    margin-top: 0;
}
.features-section h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features-section .inner-content p {
    font-size: 16px;
    letter-spacing: 0px;
}
.outline-btn {
    display: inline-block;
    color: #666;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    padding: .75rem 1.75rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d86219;
    position: relative;
}
.outline-btn:hover {
    color: #fff;
    /* background-color: #d86219; */
}
.outline-btn:after{
    display: block;
    content: "";
    width: 0%;
    height: 100%;
    background-color: #d86219;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .7s;
}
.outline-btn:hover:after{
    width: 100%;
}
.feature-btn {
    margin: 30px 0 0px;
}
.inner-meteor .feature-btn {
    margin: 25px 0 0px;
}
.icon-each {
    min-height: 115px;
}
.started-section {
    background-color: #d86219;
    border-top: 8px solid #fea772;
    padding-bottom: 85px;
}
.small-title {
    font-size: 40px;
    line-height: 57px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 1000px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.started-section .link-right {
    margin-top: 20px;
}
.started-section .title-common {
    color: #df8147;
}
.started-section .inner-content h5 {
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
}
@media screen and (max-width: 991px){
.template-section {
    padding: 30px 0;
}
.common-section {
    margin-top: 30px;
}
.template-section.common-section {
    padding: 25px 0 30px;
}
.meteor-section .inner-content ~ img {
    max-width: calc(100% - 150px);
}
.img-below {
    margin-top: 35px;
}
.link-simple{
    font-size: 20px;
}
}
@media screen and (max-width: 767px){
.color-picker {
    max-width: 100%;
    margin-top: 30px;
    position: relative;
    bottom: unset;
    right: unset;
}
.meteor-section .inner-content ~ img {
    max-width: 100%;
}
.title-common {
    font-size: 40px;
}
.inner-meteor{
    padding-bottom: 30px;
}
.icon-each {
    min-height: auto;
}
.icon-each img{
    max-width: 90%;
}
.small-title{
    font-size: 24px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
}
