<section class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/banner.jpg" alt="Angular Project" />
            <div class="carousel-caption">
              <p>Select template | Customize | Launch</p>
              <h3>Build your online presence</h3>
              <p> <small>Start your free website trial today
                No credit card required</small></p>
                <a class="banner-btn anim-btn" href="#">get Started</a>                 
            </div>    
          </div>
          <div class="carousel-item">
            <img src="assets/images/banner.jpg" alt="Angular Project" />
            <div class="carousel-caption">
              <p>Select template | Customize | Launch</p>
              <h3>Build your online presence</h3>
              <p> <small>Start your free website trial today
                No credit card required</small></p>
                <a class="banner-btn anim-btn" href="#">get Started</a>               
            </div>   
          </div>
          <div class="carousel-item">
            <img src="assets/images/banner.jpg" alt="Angular Project" />
            <div class="carousel-caption">
              <p>Select template | Customize | Launch</p>
              <h3>Build your online presence</h3>
              <p> <small>Start your free website trial today
                No credit card required</small></p>
                <a class="banner-btn anim-btn" href="#">get Started</a>               
            </div>    
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
  </section>