<footer>
    <div class="footer-dark animatedParent">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="logo-content animated bounceInLeft slowest">
                        <a href="#"><img src="assets/images/footer-logo.png" alt="Angular Project" /></a>
                        <p class="text-light">All Rights Reserved @ 2020</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-menu animated fadeInUp slowest">
                        <ul>
                            <li><a href="#">Support center</a></li>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Get Started</a></li>
                            <li><a href="#">Why Nobility</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-menu animated fadeInUp slowest">
                        <ul>
                            <li><a href="#">Templates</a></li>
                            <li><a href="#">Blog Template</a></li>
                            <li><a href="#">E-commerce Template</a></li>
                            <li><a href="#">Wedding Templates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-menu animated bounceInRight slowest">
                        <ul>
                            <li><a href="#">Promotions</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 animatedParent">
                    <div class="footer-menu bottom-menu  animated growIn go">
                        <ul class="d-flex justify-content-center">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>