<section class="all-sections">
    <app-banner></app-banner>
    <div id="option-home" class="option-section common-section">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-6 animated bounceInLeft slowest">
                    <h3 class="title-common">
                        unlimited options
                    </h3>
                    <div class="inner-content">
                        <h4 class="title-dark">total design freedom</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                        <a class="link-simple" href="#"><span>get started</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-right img-below">
                        <img src="assets/images/option.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-home" class="template-section common-section">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-8 animated bounceInLeft slowest">
                    <h3 class="title-common">
                        unlimited templates
                    </h3>
                    <img src="assets/images/template.jpg"/>
                </div>
                <div class="col-md-4">
                    <div class="img-right img-below">
                        <ul class="serve-list">
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Portfolio</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Blog</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>E-Commerce</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Online CV</span></a></li>
                            <li><a class="link-front active" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>IT Services</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Event and Weddings</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Small Business</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>Portfolio</span></a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span></span>BLog</a></li>
                            <li><a class="link-front" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i><span>E-Commerce</span></a></li>
                        </ul>
                    </div>
                    <div class="link-right">
                        <a class="link-simple" href="#"><span>all templates</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div id="meteor-home" class="meteor-section common-section">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-12 inner-meteor animated bounceInLeft slowest">
                    <h3 class="title-common text-right">How it works</h3>
                    <div class="inner-content">
                        <p>Our CMS builder makes it easy to customize your site and add all of the tools you need to grow your business.</p>
                        <a class="link-simple" href="#"><span>get started</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        <ul class="color-picker">
                            <li class="color-common first-color"><strong>Aa</strong><span>White Minimal</span></li>
                            <li class="color-common second-color"><strong>Aa</strong><span>violet hue</span></li>
                            <li class="color-common third-color"><strong>Aa</strong><span>Purple of Love</span></li>
                            <li class="color-common fourth-color"><strong>Aa</strong><span>Grey of Purple</span></li>
                            <li class="color-common fifth-color"><strong>Aa</strong><span>Purple Knight</span></li>
                        </ul>
                    </div>
                    <img src="assets/images/meteor.jpg"/>
                    <div class="col-md-12 feature-btn">
                        <a class="outline-btn" href="#">More features</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div id="features-home" class="features-section common-section">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-12 animated bounceInLeft slowest">
                    <h3 class="title-common">unlimited features</h3>
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p1.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p2.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p3.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p4.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p5.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/p6.png"/>
                        </div>                        
                        <h5>High performance</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur sadipiscing elitr,sed diam nonumy eirmod temper invidunt ut labore at dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>                                               
                    </div>                    
                </div>
                <div class="col-md-12 text-center feature-btn">
                    <a class="outline-btn" href="#">More features</a>
                </div>
            </div>
        </div>
    </div>
    <div id="started-home" class="started-section common-section">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-12 animated bounceInLeft slowest">
                    <h5 class="small-title">Why nobility Website Builder Is the Best Choice for You</h5>
                    <h3 class="title-common">get started</h3>
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/s11.jpg"/>
                        </div>                        
                        <h5>Select your template</h5>                                             
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/s12.jpg"/>
                        </div>                        
                        <h5>Customize with branding</h5>                                             
                    </div>                    
                </div>
                <div class="col-md-4 animated bounceInLeft slowest">
                    <div class="inner-content text-center">
                        <div class="icon-each">
                            <img src="assets/images/s13.jpg"/>
                        </div>                        
                        <h5>Launch & Promote</h5>                                            
                    </div>                    
                </div>
                <div class="link-right col-12">
                    <a class="link-simple text-white" href="#"><span>get started</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> 
            </div>
        </div>
    </div>    
  </section>