<div mat-dialog-content >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-popup">
                    <div class="overlay"></div>
                    <div class="container">
                        <form class="popup-feild">
                            <h2>
                                Login
                            </h2>
                            <span class="cross" (click)="dismissModal()">
                                <i class="fa fa-times" aria-hidden="true" ></i>
                            </span>
                            <div class="inner-form">
                                <div class="form-group input-txt">
                                    <label>
                                        Email :
                                    </label>
                                    <input type="email" name="email" class="form-control">
                                </div>
                                <div class="form-group last input-txt">
                                    <label>
                                        Password :
                                    </label>
                                    <input type="password" name="pass" class="form-control">
                                   
                                </div>


                                <div class="lost">
                                    <span class="ft-pass">
                                        <a class="forgotpass">
                                            Lost Your Password?
                                        </a>
                                    </span>
                                </div>
                                <div class="login-btn">
                                    <button class="login" type="button" value="">
                                        login
                                    </button>
                                </div>
                                <div class="bottom-form-txt">
                                    <span class="or-txt">
                                        or
                                    </span>
                                    <p>
                                        Not a Member Yet?
                                        <a class="sign" (click)="openRegisterPopup()">
                                            Sign Up!
                                        </a>
                                    </p>
                                    <ul>
                                        <li>
                                            <a class="fb" >
                                                <span>
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </span>
                                                Login with Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a class="gplus">
                                                <span>
                                                    <i class="fa fa-google" aria-hidden="true"></i>
                                                </span>
                                                Login with Google
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>