<div mat-dialog-content >
    <div class="modal-dialog auth-page" role="document">
        <div class="modal-content inner-content">            
            <div class="modal-body common-form">
                <div class="login-popup inner-form">
                    <div class="overlay"></div>
                    <div class="form-top">
                        <!-- <img src="assets/images/logo.png" /> -->
                        <h3 class="landing-title">Login to your Account</h3>
                    </div>
                    <form class="popup-feild" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <span class="cross" (click)="dismissModal()">
                            <i class="fa fa-times" aria-hidden="true" ></i>
                        </span>
                        <div class="">
                            <div class="form-group mb-3">
                                <label>Email adress</label>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input class="form-control" type="text" name="" placeholder="Enter email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"/>

                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">
                                        Please enter the e-mail address
                                    </div>

                                    <div *ngIf="f.email.errors?.pattern">
                                        Invalid e-mail address
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Password</label>
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>                                  
                                <input class="form-control" type="password" name="" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="remember-section">
                                <div class="form-group mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                        <label class="custom-control-label" for="customCheck">Remember me</label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <a href="#">I forgot password</a>
                                </div>
                            </div>                                  
                            <div class="form-btn">
                                <button class="btn login-btn outline-btn">SignIn</button>
                            </div>
                            <div class="goto text-center">
                                <p>Don't have account yet ?<a class="sign" (click)="openRegisterPopup()">
                                Sign Up!
                            </a></p>
                            </div>
                            <div class="option">
                                <p>or</p>
                            </div>
                            <div class="social-login">
                                <button class="common-btn facebook-login btn"><i class="fa fa-facebook" aria-hidden="true"></i>Signin via Facebook</button>
                                <button class="common-btn google-login btn"><i class="fa fa-google" aria-hidden="true"></i>Signin via Google</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>